<!DOCTYPE html>
<html lang="en">

<head>
    <title>Converge hosted payments</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, minimal-ui" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- start Mixpanel -->
    <script type="text/javascript">
        (function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
    for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
    </script><!-- end Mixpanel -->

    <link rel="stylesheet" href="assets/hpp-1.505.04.css">
    <script src="assets/hpp-1.505.04.js"></script>
    <script id="initialApplicationData"
        data-initial-request-data="eyJyZWZlcnJlclVSTCI6Imh0dHBzOi8vYXBpLmNvbnZlcmdlcGF5LmNvbS9ob3N0ZWQtcGF5bWVudHMiLCJpbmxpbmUiOmZhbHNlLCJwYXltZW50RmllbGRzIjp7InNzbF90eG5fYXV0aF90b2tlbiI6IjF6V1o4T21TUTZHeWVvSzgrK0lXdkFBQUFacWY2UTRLIn19">
    </script>

</head>

<body>
    <div ng-app="loadApplication" ng-controller="loadCtrl as ctrl" ng-cloak id="load-container">
        <div ng-if="ctrl.errorMessage">
            <h3><b>{{ctrl.errorMessage}}</b></h3>
        </div>
        <div ng-if="ctrl.inFrame" class="hp-loading-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div ng-controller="paymentPageApplicationCtrl as appCtrl" ng-cloak id="page-container" class="hp-container">
        <ng-include src="'assets/material-overrides.tpl.html'"></ng-include>
        <ng-include src="'hpp/application/style.tpl.html'"></ng-include>
        <div layout="row" layout-align="center center" layout-fill ng-if="appCtrl.isInProgress()"
            class="hp-ewallet-loading">
            <md-progress-circular md-diameter="72"></md-progress-circular>
        </div>
        <div id="id_main_bottom" layout="row">
            <div id="id_main_left" flex>
                <ng-include src="'hpp/application/main.tpl.html'"></ng-include>
            </div>
            <div id="id_main_right" flex="35" ng-if="appCtrl.showPromotion()" hide="" show-gt-sm=""
                compile="appCtrl.getPromotionRight()"></div>
        </div>
    </div>
    <script type="text/javascript" src="/p9r2tn/jTWZ/Hy/l6jT/fEtradLA/Q51XwSrVikQz8zJu/KyMEeFx7bw/UBhlR/EdbXlI">
    </script>
</body>

</html>